<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idoctor.dao.UserMapper">
	<resultMap id="user" type="com.idoctor.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="password" property="password"
			jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="birthday" property="birthday"
			jdbcType="VARCHAR" />
		<result column="descation" property="descation" jdbcType="VARCHAR" />
	</resultMap>

	 <!-- 查询所有用户信息 -->
	<select id="findAll" resultType="com.idoctor.pojo.User"
		parameterType="com.idoctor.pojo.User">
		select * from tb_user
	</select>
	
		<!-- 根据条件查询用户信息 -->
	<select id="findByIf" resultType="com.idoctor.pojo.User"
		parameterType="com.idoctor.pojo.User">
		select * from tb_user
        <!--  (where标签自动去掉满足条件的第一个and) -->
      <where>
         <if test="id!=null">
            and id=#{id}
         </if>
         <if test="name != null">
            and name=#{name}
         </if>
         <if test="age != null">
            and age=#{age}
         </if>
         <if test="birthday != null">
            and birthday=#{birthday}
         </if>
         <if test="descation != null">
            and descation=#{descation}
         </if>
      </where>
	</select>
	
	 <!-- 增加用户 --> 
    <insert id="add" parameterType="com.idoctor.pojo.User">
        insert into tb_user (name,password,age,birthday,descation) values (#{name},#{password},#{age},#{birthday},#{descation})
    </insert>
    <!--   删除用户 -->
    <delete id="delete" parameterType="com.idoctor.pojo.User">
        delete from tb_user where id = #{id}
    </delete>
   <!--     修改用户 -->
    <update id="update" parameterType="com.idoctor.pojo.User">    
        update tb_user set name = #{name}, password = #{password}, age = #{age}, birthday = #{birthday},descation=#{descation} where id = #{id}    
    </update>
	
</mapper>